@tailwind base;
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  html {
    @apply text-neutral-800;
    @apply overflow-x-hidden
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}
@tailwind components;
@tailwind utilities;

.nav:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.658);
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  transition: 150ms;
  margin-top: -2px;
}

.back {
  background-image: url('./components/images/background1.png');
  background-size: cover;
  background-repeat: no-repeat;

}
.hero1 {
  background-image: url('./components/images/hero1.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.hero2 {
  background-image: url('./components/images/heroimg2.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.hero3 {
  background-image: url('./components/images/hero3.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.hero4 {
  background-image: url('./components/images/hero4.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.hero5 {
  background-image: url('./components/images/hero5.png');
  background-size: cover;
  background-repeat: no-repeat;
}
/* .os1 {
    scale: 0;
} */

.swirl-in-fwd {
	animation: swirl-in-fwd 0.6s ease-out both;
}
.abs{
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.35);
}
.drop{
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

.roll-in-left {
	-webkit-animation: roll-in-left 1s ease-out 0.2s both;
	        animation: roll-in-left 1s ease-out 0.2s both;
}

.find{
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.docs{
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.08);
}
.docs:hover{
  box-shadow: none;
}
.searchbg{
 background-color: rgba(255, 255, 255, 0.87);
 box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
}
.show {
  @apply transition-all duration-500 ease-in overflow-y-visible max-h-[45rem]
}
.hide{
  @apply transition-all opacity-0 duration-500 ease-out overflow-y-hidden max-h-0
}
.boxes{
  @apply abs py-9 px-6 w-[17rem] cursor-default border-[1px] border-green-300 text-sm text-center flex flex-col items-center bg-white rounded-xl transition duration-200 hover:shadow-none
}
.imgDash{
  @apply  mb-7 w-[13rem] h-[13rem] bg-[#a7eb9c85] rounded-2xl
}
.titleText{
  @apply text-white hover:bg-opacity-80 hover:border-green-100 border-2 border-green-600 transition duration-100 font-semibold text-lg mb-3 text-center w-[110%] bg-green-600
}